nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 20px 5vw;
    font-size: 20px;
    border-bottom: 1px solid black;
}

@media (max-width: 900px) {
    nav {
        font-size: 15px;
    }
}

main {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}


.playfair-display-400{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  body {
    background-color: #FDFBF4;
    margin: 0;
  }

  #mecontainer img {
    width: 100%;
    max-width: 400px;
    object-fit: cover;
  }

  #mecontainer {
    width: 100%;
    /* background-color: blue; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    position: relative;
    align-items: stretch;
  }

  #about {
    /* background-color: plum; */
    height: 100%;
    padding: 30px
  }

#icon-container {
    /* background-color: aqua; */
}

#icons-name-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: aquamarine; */
}

#about-content {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    /* background-color: beige; */
    align-items: center;
}

#description-image-container {
    display: flex;
    flex-direction: column;
}

#name {
    font-size: 75px;
    position: absolute;
    width:100vh;
    top:0;
}

#greeting {
    font-size: 45px;
    position: absolute;
    top:100px;
    left:0;
    width: 100vh;
}

#name-greeting-wrapper {
    position: relative;
    width: 100%;
    /* background-color: blueviolet; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
  width: 100%;
  max-width: 1536px;
  margin-bottom: 30px;
  margin-inline: auto;
  position: relative;
  height: 30px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.item {
  position: absolute;
  left: max(calc(200px * 8), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}

.item2 {
  animation-delay: calc(30s / 8 * (8 - 2) * -1);
}

.item3 {
  animation-delay: calc(30s / 8 * (8 - 3) * -1);
}

.item4 {
  animation-delay: calc(30s / 8 * (8 - 4) * -1);
}

.item5 {
  animation-delay: calc(30s / 8 * (8 - 5) * -1);
}

.item6 {
  animation-delay: calc(30s / 8 * (8 - 6) * -1);
}

.item7 {
  animation-delay: calc(30s / 8 * (8 - 7) * -1);
}

.item8 {
  animation-delay: calc(30s / 8 * (8 - 8) * -1);
}